
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
    background: url("../img/backgrounds/bg1.jpeg") no-repeat center center fixed;;
    background-size: cover; 
 
    
}



strong { font-weight: 500; }

a, a:hover, a:focus {
	color: #4aaf51;
	text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}


h1, h2 {
	margin-top: 10px;
	font-size: 38px;
    font-weight: 400;
    line-height: 50px;
}

h3 {
	font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
}

img { max-width: 100%; }

::-moz-selection { background: #4aaf51; color: #fff; text-shadow: none; }
::selection { background: #4aaf51; color: #fff; text-shadow: none; }


.btn-link-1 {
	display: inline-block;
	height: 50px;
	margin: 5px;
	padding: 16px 20px 0 20px;
	background: #4aaf51;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active { outline: 0; opacity: 0.6; color: #fff; }

.btn-link-1.btn-link-1-facebook { background: #4862a3; }
.btn-link-1.btn-link-1-twitter { background: #55acee; }
.btn-link-1.btn-link-1-google-plus { background: #dd4b39; }

.btn-link-1 i {
	padding-right: 5px;
	vertical-align: middle;
	font-size: 20px;
	line-height: 20px;
}

.btn-link-2 {
	display: inline-block;
	height: 50px;
	margin: 5px;
	padding: 15px 20px 0 20px;
	background: rgba(0, 0, 0, 0.3);
	border: 1px solid #fff;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-2:hover, .btn-link-2:focus, 
.btn-link-2:active, .btn-link-2:active:focus { outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); color: #fff; }


/***** Top content **** */

.inner-bg {
    padding: 100px 0 170px 0;
}

.top-content .text {
	color: #fff;
}

.top-content .description {
	margin: 20px 0 10px 0;
}

.top-content .description p { opacity: 0.8; }

.top-content .description a {
	color: #fff;
}
.top-content .description a:hover, 
.top-content .description a:focus { border-bottom: 1px dotted #fff; }

.form-box {
	margin-top: 35px;
}

.form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: #fff;
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: left;
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; }

.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #ddd;
	line-height: 100px;
	text-align: right;
}

.form-bottom {
	padding: 25px 25px 30px 25px;
	background: #eee;
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
}

.form-bottom form textarea {
	height: 100px;
}

.form-bottom form button.btn {
	width: 100%;
}

.form-bottom form .input-error {
	border-color: #4aaf51;
}

.social-login {
	margin-top: 35px;
}

.social-login h3 {
	color: #fff;
}

.social-login-buttons {
	margin-top: 25px;
}


/***** Media queries **** */

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {
	
	.inner-bg { padding: 60px 0 110px 0; }
	.navbar-default .navbar-nav>li>a{
		text-align: left;
	}
	.masterSchedule:hover .dropdown-menu{
		width: 100%;
	}

}

@media (max-width: 415px) {
	
	h1, h2 { font-size: 32px; }

}

.masterSchedule:hover .dropdown-menu{
	display:block;
}

.uploadcontainer{
	text-align: left
	
}
.upload-drop-zone {
  height: 100px;
  border-width: 2px;
  margin-bottom: 20px;
  
}

/* skin.css Style */
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 100px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}
.uploadelementcontainer{
	width: 55%;
	margin: 0 auto;
}
.dragfile{
	float: right;
	width: 50%;
	position: right;
}
.panel{
	background-color: transparent;
	border: none;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: transparent;
    
}
.navbar{
	margin-bottom: 0;
	background-color: #aa4f19;
	color: #fff;
	border-width: 0;
}

.navbar-default .navbar-nav>li>a,.navbar-default .navbar-brand,.masterScheduleContent h1,.editSchedule h1{
	color: #fff;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	color: #efe6e6;
}
.panel-heading1{
	border-color:transparent;
	text-align: center;
}

.mainContent{
	width:80%;
	text-align:left;
	margin: 0 auto;
	margin-top:50px;
	color:#fff;
}
.description{
	font-size:20px;
}
.innerOfferings{
	display: inline-block;
	width:33%;
	float: left;
	font-size: 18px;
}

.bodyContent{
	width: 90%;
	margin: 0 auto;
}
.studentDetails{
	text-align: left;
}
.studentDetailsrow{
	clear: both;
	padding-top: 40px;
}
.studentDetailsrow div{
	display: inline-block;
	font-size: 20px;
	font-weight: 400;
	margin-left: 10%;
}
.studentDetailsrow div span{
	margin-left: 15px;
}
.studentDetailsrow .elective{
	width: 40%;
	margin-left: 0;
}
.studentDetails .studentDetailsrow:first-child div{
	float: left;
}
.studentDetailsrow div:first-child{
	margin-left: 0;
}
.generate{
	border-radius:15px;
	color:#fff;
	background-color: #272364;
	border:0;
	margin-top: 40px;
	font-weight: 500;
	padding: 10px;
	font-size: 20px;
}

.rtable {
  /*!
  // IE needs inline-block to position scrolling shadows otherwise use:
  // display: block;
  // max-width: min-content;
  */
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
  
  overflow-x: auto;
  
  // optional - looks better for small cell values
  white-space: nowrap;

  border-collapse: collapse;
  border-spacing: 0;
  white-space: nowrap;
}

.rtable,
.rtable--flip tbody {
  // optional - enable iOS momentum scrolling
  -webkit-overflow-scrolling: touch;
  
  // scrolling shadows
  background: radial-gradient(left, ellipse, rgba(0,0,0, .2) 0%, rgba(0,0,0, 0) 75%) 0 center,
              radial-gradient(right, ellipse, rgba(0,0,0, .2) 0%, rgba(0,0,0, 0) 75%) 100% center;
  background-size: 10px 100%, 10px 100%;
  background-attachment: scroll, scroll;
  background-repeat: no-repeat;
}

// change these gradients from white to your background colour if it differs
// gradient on the first cells to hide the left shadow
.rtable td:first-child,
.rtable tbody td:first-child {
  background-image: linear-gradient(to right, rgba(255,255,255, 1) 50%, rgba(255,255,255, 0) 100%);
  background-repeat: no-repeat;
  background-size: 20px 100%;
}

// gradient on the last cells to hide the right shadow
.rtable td:last-child,
.rtable--flip tbody tr:last-child {
  background-image: linear-gradient(to left, rgba(255,255,255, 1) 50%, rgba(255,255,255, 0) 100%);
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 20px 100%;
}

.rtable th {
  font-size: 11px;
  text-align: left;
  text-transform: uppercase;
  background: #f2f0e6;
  min-width: 150px;
}

.rtable th,
.rtable td {
  padding: 6px 12px;
  border: 1px solid #d9d7ce;
}

.rtable--flip {
  display: flex;
  overflow: hidden;
  background: none;
}
.rtable--flip thead {
  display: flex;
  flex-shrink: 0;
  min-width: min-content;
}

.rtable--flip tbody {
  display: flex;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
}

.rtable--flip tr {
  display: flex;
  flex-direction: column;
  min-width: min-content;
  flex-shrink: 0;
}

.rtable--flip td,
.rtable--flip th {
  display: block;
}

.rtable--flip td {
  background-image: none !important;
  // border-collapse is no longer active
  border-left: 0;
}

// border-collapse is no longer active
.rtable--flip th:not(:last-child),
.rtable--flip td:not(:last-child) {
  border-bottom: 0;
}
td:first-chlid{
	background-color: #f2f0e6;
}


table.responsive { margin-bottom: 0; }
	
.pinned { position: absolute; left: 0; top: 0; background: #fff; width: 152px; overflow: hidden; overflow-x: scroll; border-right: 1px solid #ccc; border-left: 1px solid #ccc; }
.pinned table { border-right: none; border-left: none; width: 100%; }
.pinned table th, .pinned table td { white-space: nowrap; }
.pinned td:last-child { border-bottom: 0; }
	
div.table-wrapper { position: relative; margin-bottom: 20px; overflow: hidden; border-right: 1px solid #ccc; }
div.table-wrapper div.scrollable { margin-left: 150px; }
//div.table-wrapper div.scrollable { overflow: scroll; overflow-y: hidden; }	
	
table.responsive td, table.responsive th { position: relative; white-space: nowrap; overflow: hidden; }
table.responsive th:first-child, table.responsive td:first-child, table.responsive td:first-child, table.responsive.pinned td { display: none; }
.pinned table tr th,.pinned table tr td{ display: none;}
.pinned table tr th:first-child,.pinned table tr td:first-child{ display: block; border-bottom: 0; border-left: 0;}
.pinned table tr td{ padding: 8px;}
.editSchedule .pinned table tr td{ padding: 15px 8px;}
#accordion{
	text-align: left;
	width: 70%;
	margin: 0 auto;
}

button.editbtn{
	height: 34px;
	line-height: 34px;
	border-radius: 5px;
	background-color: #337ab7;
	
}
.masterScheduleContent,.editSchedule{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 90%;
	color: #000;
}
.masterScheduleContent .scrollable table{
	background: #fff;
	opacity:0.8;
}
.editSchedule .scrollable table{
	background: #fff;
}
.table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
	font-family: cursive;
}
.navbar-right li.dropdown a{
	padding: 0;
}
button.logout {
    background: #fff;
    color: #000;
    height: 30px;
    line-height: 30px;
    margin: 10px 0;
}
.form-inline{
	text-align: center;
}
button.upload{
	margin-top: 40px;
}
button.generateSchedule{
	background-color: #337ab7;
	font-weight: 500;
	margin-top: 50px;
}
.studentDetails{
	width: 80%;
	margin: 0 auto;
}
.studentDetails a{
	color:#f7d908;
}
.aboutus{
	width: 80%;
	margin: 0 auto;
	font-size: 16px;
}
.navbar-brand{
	font-size: 16px;
}
.studentSchedule table{
	width: 50%;
	margin: 0 auto;
}
.studentSchedule{
	margin-top: 50px;
}
.faq h3{
	color: #c1ac1b;
}